REACT_APP_RUNENVIRONMENT=DEV or QA or blank for prod

REACT_APP_API=https://myserver.azurewebsites.net
REACT_APP_GRAPHQLAPI=$REACT_APP_API/graphql/
REACT_APP_THEME=https://localhost:5001/storage/theme/ecdconnect.json
