REACT_APP_RUNENVIRONMENT=DEV or QA or blank for prod
REACT_APP_MAP_API_KEY=
REACT_APP_GOOGLE_CLIENT_ID=

REACT_APP_API=https://localhost:5001
REACT_APP_GRAPHQLAPI=$REACT_APP_API/graphql/
REACT_APP_THEME=https://localhost:5001/storage/theme/ecdconnect.json
